body,
h1 {
  margin: 0;
  padding: 0;
}
.repeater {
  background-color: orange;
  padding-top: 10px;

  &__content {
    background-color: red;
  }

  &__background {
    background-image: url('assets/pattern-wave.svg');
    background-repeat: repeat-x;
    background-size: 800px 120px;
    background-position: center;
    height: 120px;
    width: 100%;
    
    @media (min-width: 768px) {
      background-size: 1600px 241px;
      height: 241px;
    }
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}