body,
h1 {
  margin: 0;
  padding: 0;
}
.repeater {
  background-color: orange;
  padding-top: 10px;

  &__content {
    background-color: red;
  }

  &__background {
    background-image: url('assets/pattern-wave.svg');
    background-repeat: repeat-x;
    height: 241px;
    width: 100%;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}